name: Go report card

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - 'examples/**'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - 'examples/**'

jobs:
  refresh_go_report_card:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Go report card
      uses: creekorful/goreportcard-action@v1.0
