name: Release Drafter

on:
  push:
    branches:
      - master
    # paths-ignore:
    #   - 'README.md'
    #   - 'docs/**'
    #   - 'examples/**'
  # pull_request event is required only for autolabeler
  pull_request:
    # Only following types are handled by the action, but one can default to all as well
    types: [opened, reopened, synchronize]
    # paths-ignore:
    #   - 'README.md'
    #   - 'docs/**'
    #   - 'examples/**'

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        #   config-name: release-drafter.yml
        #   disable-autolabeler: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
